@model LMS_Project_mvc.Models.Media

@{
    ViewData["Title"] = "Details";
}

<h1>Detaylar</h1>
<div>
    <a asp-action="Index">GERİ DÖN</a> |
    <a asp-action="Edit" asp-route-id="@Model?.Id">Düzenle</a> |
    <a asp-action="Delete" asp-route-id="@Model?.Id">Sil</a> |
   
</div>
<div>
    <h4>Medya</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Medya Türü
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MType.TypeName)
        </dd>
        <dt class="col-sm-2">
            Kategori
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            Başlık
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            Dosya Adı
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dt class = "col-sm-2">
            Boyut
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileSizeHuman)
        </dd>
        <dt class = "col-sm-2">
            Önizleme
        </dt>
        <dd class = "col-sm-10">
            @if (Model.MTypeId == 1)
            {
                <video width="320" height="240" controls>
                     <source src="http://localhost:5004/@Model.FilePath" type="video/mp4">
                </video>
            }else if (Model.MTypeId == 2)
            {
                <audio controls>
                    <source src="http://localhost:5004/@Model.FilePath" type="audio/mpeg">
                </audio>
            }
        <dt class="col-sm-2">
                Süre
        </dt>
        <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Time) dk
        </dd>
        <dt class="col-sm-2">
                Açıklama
        </dt>
        <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
        </dd>
        </dd>
    </dl>
</div>

