@model FilterMedia

@{
    ViewData["Title"] = "Index";
}

<h1>Medyalar</h1>

<style>
    .col-6 {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .col-6 label {
        margin-bottom: 15px;
    }
</style>

<div>
    <div>
        <a asp-action="Create">Yeni Medya Ekle</a>
    </div>
</div>

<form asp-action="Search">
    <div class="row">
        <div class="col-6">
            <label asp-for="CategoryId">Medya Kategorisi</label>
            <select asp-for="CategoryId" asp-items="ViewBag.CategoryList"></select>
        </div>
        <div class="col-6">
            <label asp-for="MTypeId">Medya Türü</label>
            <select asp-for="MTypeId" asp-items="ViewBag.MediaTypeList"></select>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <label asp-for="Title">Başlık*</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>

        </div>
        <div class="col-6">
            <label asp-for="FileName">Dosya Adı*</label>
            <input asp-for="FileName" class="form-control" />
            <span asp-validation-for="FileName" class="text-danger"></span>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <input type="checkbox" name="IsArchive" value=0> Aktif Kayıtlar
            <input type="checkbox" name="IsArchive" value=1> Arşivli Kayıtlar
        </div>
        <div class="col-md-6 text-end">
                <button type="submit" class="btn btn-primary">
                    Ara
                </button>
        </div>
    </div>
</form>


<br />

<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Önizleme
            </th>
            <th>
                Medya Türü
            </th>
            <th>
                Medya Kategorisi
            </th>
            <th>
                Başlık
            </th>
            <th>
                Dosya Adı
            </th>
            <th>
                Dosya Boyutu
            </th>
            <th>
                Süre
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in (IEnumerable<Media>) ViewBag.Medias) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @if (item.MTypeId == 1)
                    {
                        <img src="https://cdn-icons-png.flaticon.com/512/10297/10297001.png" style="width: 40px; height: 40px" alt="Video" />
                    }
                    else if (item.MTypeId == 2)
                    {
                        <img src="https://cdn-icons-png.flaticon.com/512/2625/2625053.png" style="width: 40px; height: 40px" alt="Podcast" />
                    }
                    else
                    {
                        @Html.DisplayName(" P ");
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MType.TypeName)
                </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileSizeHuman)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time) dk
                </td>
               <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detay</a> |
                    <a asp-action="Archive" asp-route-id="@item.Id">Arşivle</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
